<%= simple_form_for meme, html: { multipart: true } do |f| %>
  <div class="toggle-switch-container custom-toggle">
    <%= f.check_box :public, id: 'meme_public', class: 'toggle-switch toggle-switch-wide custom-toggle-input' %>
    <%= label_tag 'meme_public', nil, class: 'custom-toggle-label', data: { switch_on: 'Public', switch_off: 'Privé' } %>
  </div>

  <%= f.input :title, label: "Titre du mème", class: "titre" %>

  <div data-controller="tag-input">
    <%= f.fields_for :meme_tags do |mt| %>
      <%= mt.fields_for :tag do |t| %>
        <%= t.input :name, label: "Tags", input_html: { data: { tag_input_target: "input" }, style: "height: 50px;", placeholder: "Ajoutez un tag et appuyez sur Entrée" } %>
      <% end %>
      <div data-tag-input-target="tags" class="d-flex flex-wrap mb-2 gap-2"></div>
    <% end %>
  </div>

  <div data-controller="upload">
    <div class="my-2 preview mt-3">
      <div data-upload-target="output">
      </div>
      <% if image_url.present? %>
        <%= image_tag image_url %>
        <%= f.input :image_url, label: false, input_html: { value: image_url, class: "d-none"} %>
      <% else %>
        <%= f.input :file, label: "Fichier (PHOTO, VIDEO, GIF)", as: :file, label_html: { data: { upload_target: "label" } }, input_html: { data: { upload_target: "input", action: "change->upload#readURL" } } %>  </div>
      <% end %>
    </div>
  </div>

  <div class="text-center">

    <%= f.button :submit, "ENREGISTRER", form: 'new_meme', class: "btn button-create" %>

  </div>
<% end %>
