<%= simple_form_for @meme, html: { multipart: true } do |f| %>
  <div class="toggle-switch-container custom-toggle">
    <%= f.check_box :public, id: 'meme_public', class: 'toggle-switch toggle-switch-wide custom-toggle-input' %>
    <%= label_tag 'meme_public', nil, class: 'custom-toggle-label', data: { switch_on: 'Public', switch_off: 'Privé' } %>
  </div>

  <%= f.input :title, label: "Titre du mème", class: "titre" %>

  <div data-controller="tag-input">
    <%= f.fields_for :meme_tags do |mt| %>
      <%= mt.fields_for :tag do |t| %>
        <%= t.input :name, label: "Tags (séparés par des virgules)", input_html: { data: { tag_input_target: "input" } } %>
      <% end %>
      <div data-tag-input-target="tags" class="d-flex flex-wrap mb-2 gap-1"></div>
    <% end %>
  </div>

<div data-controller="upload">
  <div class="my-2 preview">
    <div data-upload-target="output"></div>
<%= f.input :file, label: "Fichier (PHOTO, VIDEO, GIF)", as: :file, label_html: { data: { upload_target: "label" } }, input_html: { data: { upload_target: "input", action: "change->upload#readURL" } } %>  </div>
</div>

  <div class="text-center">
    <%= f.button :submit, "AJOUTER UN MEME", class: "btn button-create" %>
  </div>
<% end %>
