<h2 class="mb-3"><%= @meme.title %></h2>

<% if @meme.user == current_user %>
  <%= render "form", meme: @meme %>
<% end %>

<div class="d-flex justify-content-evenly flex-wrap row-gap-2">
  <%= render partial: "shared/card2", locals: { meme: @meme } %>
</div>

<% if @tags.any? %>
  <div class="d-flex flex-wrap mb-4 gap-2">
    <% @tags.each do |tag| %>
      <div>
        <%= link_to tag.name, root_path(search: tag.name), class: "btn button-tag", style: "text-decoration: none; color: black;" %>
      </div>
    <% end %>
  </div>
<% end %>

<p>Nombre de likes : <%= @meme.likes.count %></p>

<% if user_signed_in? %>
  <% if current_user.liked_memes.include?(@meme) %>
    <%= form_with(url: meme_like_path(@meme), method: :delete, local: true) do |form| %>
      <%= form.submit "Retirer de mes likes", class: "btn btn-danger" %>
    <% end %>
  <% else %>
    <%= form_with(url: meme_likes_path(@meme), method: :post, local: true) do |form| %>
      <%= form.submit "Ajouter à mes likes", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>
