<% if @meme.user == current_user %>
<%= render "form", meme: @meme %>
<% end %>
<div class="d-flex justify-content-evenly flex-wrap row-gap-2">
  <%= render partial: "shared/card2", locals: { meme: @meme } %>
</div>

<% if @tags.any? %>
  <div class="d-flex flex-wrap mb-4 gap-2">
    <% @tags.each do |tag| %>
      <div>
        <%= link_to tag.name, root_path(search: tag.name), class: "btn button-tag", style: "text-decoration: none;" %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @meme.user == current_user %>

<div class="text-center">
  <%= link_to "SUPPRIMER", meme_path(@meme), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn button-delete" %>
   </div>
<% else %>
  <% if current_user && current_user.favorites.find_by(meme: @meme) %>
    <div class="text-center">
      <%= link_to "RETIRER DE MA GALERIE", meme_favorite_path(@meme, current_user.favorites.find_by(meme: @meme)), data: {turbo_method: "delete"}, class: "btn button-unvalidate" %>
    </div>
  <% else %>
    <%= render "favorite", meme: @meme, favorite: @favorite %>
  <% end %>
<% end %>
