<% if @meme.user == current_user %>
  <%= form_with(model: @meme, local: true) do |form| %>
    <div class="field">
      <%= form.label :text %>
      <%= form.text_field :text %>
    </div>
    <%= form.submit "Add Text" %>
  <% end %>

  <!-- Code pour la prévisualisation en direct reste inchangé -->
  <input type="text" data-controller="text-preview" data-text-preview-target="textInput" data-action="input->text-preview#updatePreview">
  <img data-text-preview-target="preview">

  <%= render "form", meme: @meme %>
<% end %>

<div class="d-flex justify-content-evenly flex-wrap row-gap-2">
  <%= render partial: "shared/card2", locals: { meme: @meme } %>
</div>

<% if @tags.any? %>
  <div class="d-flex flex-wrap mb-4 gap-2">
    <% @tags.each do |tag| %>
      <div>
        <%= link_to tag.name, root_path(search: tag.name), class: "btn button-tag", style: "text-decoration: none; color: black;" %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @meme.user == current_user %>
  <div class="text-center">
    <%= link_to "Delete", meme_path(@meme), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn button-delete" %>
  </div>
<% else %>
  <% if current_user && current_user.favorites.find_by(meme: @meme) %>
    <div class="text-center">
      <%= link_to "RETIRER DE MA GALERIE", meme_favorite_path(@meme, current_user.favorites.find_by(meme: @meme)), data: {turbo_method: "delete"}, class: "btn button-unvalidate" %>
    </div>
  <% else %>
    <%= render "favorite", meme: @meme, favorite: @favorite %>
  <% end %>
<% end %>
