<h2><%= @meme.title %></h2>

<% if @meme.user == current_user %>
  <%= render "form", meme: @meme %>
<% end %>

<div class="d-flex justify-content-evenly flex-wrap row-gap-2">
  <%= render partial: "shared/card2", locals: { meme: @meme } %>
</div>


<% if @tags.any? %>
  <div class="d-flex gap-3 mb-4">
    <% @tags.each do |tag| %>
      <div>
        <%= render "shared/button_tag", tag: tag %>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user.favorites.find_by(meme: @meme) %>
  <div class="text-center">
    <%= link_to "RETIRER DE MA GALERIE", meme_favorite_path(@meme, current_user.favorites.find_by(meme: @meme)), data: {turbo_method: "delete"}, class: "btn button-validate" %>
  </div>
<% else %>
  <%= render "favorite", meme: @meme, favorite: @favorite %>
<% end %>
