<h2><%= @meme.title %></h2>

<%= render "form", meme: @meme %>

<%# <div class="d-flex justify-content-evenly flex-wrap row-gap-2">
  <%= render partial: "shared/card2", locals: { meme: @meme } %>
<%# </div> %>

<%# <div>
  <%= image_tag(@meme.image, width: 400, height: 300, crop: :fill) %>
<%# </div> %>

<ul>
  <% if @tags.any? %>
    <% @meme.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  <% end %>
</ul>

<%# <%= render "favorite", meme: @meme, favorite: @favorite %>
