<h2><%= @meme.title %></h2>

<p>Rendu public : <%= @meme.public ? 'Oui' : 'Non' %></p>

<div>
  <%= image_tag @meme.image.url %>
</div>

<ul>
  <% if @tags.any? %>
    <% @meme.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Retour', root_path %>
