
<div class="card2" data-controller="texteditor">
  <div class="d-flex flex-column">
    <div class="card-content" id="canvas-container">
      <% if meme.video_url.present? %>
        <video width="360" controls>
          <source src="<%= meme.video_url %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      <% elsif meme.file.attached? %>
        <%= cl_image_tag meme.file.key, alt: meme.title, data: { texteditor_target: "image"}, class: "d-none", crossorigin: "anonymous"  %>
        <canvas id="imageCanvas" width="360" data-texteditor-target="canvas">
        </canvas>
      <% end %>
    </div>
    <%= render "shared/button_like", meme: @meme %>
  </div>

  <%= simple_form_for :meme, url: clone_meme_path, method: "POST", html: { data: { texteditor_target: "form", action: "texteditor#save:prevent" }}  do |f| %>
  <div class="d-none">
    <%= f.input :file, input_html: {data: { texteditor_target: "input"}, class: "d-none", label: false} %>
    </div>
      <div class="d-flex justify-content-center">
        <%= f.button :submit, "EDITER LE MEME", class: "btn button-create padding d-none", data: { texteditor_target: "editButton" } %>      </div>
  <% end %>
</div> <!-- Fermeture de balise ajoutée ici -->




<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">Partager sur les réseaux</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="icone-media d-flex justify-content-evenly align-items-center">
          <%= social_share_button_tag(meme.title, url: meme_url(meme)) %>
          <%= image_tag 'messenger.svg' %>
          <%= image_tag 'instagram.svg' %>
          <%= image_tag 'x_twitter.svg' %>
        </div>
        <div class="d-flex align-items-center pt-4" data-controller="copyurl">
        <button type="button" class="btn btn-link" data-action="click->copyurl#copyurl" data-copyurl-target="link" id="popover-link" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Copié !" data-bs-trigger="click">
          <%= image_tag 'link.svg' %>
        </button>
        <input type="text" class="form-control ms-2" id="page-url" value="<%= meme_url(meme) %>" data-copyurl-target="input" readonly>
      </div>
      </div>
    </div>
  </div>
</div> <!-- Fermeture de balise ajoutée ici -->
