<div class="card1">
  <div class="card-img">
    <% if meme.video_url.present? %>
      <%= link_to meme_path(meme) do %>
        <%= image_tag meme.thumbnail_url, alt: meme.title %>
      <% end %>
    <% elsif meme.file.attached? %>
      <%= link_to meme_path(meme) do %>
        <%= image_tag url_for(meme.file), alt: meme.title %>
      <% end %>
    <% end %>
  </div>
  <div class="card-tab d-flex" data-controller="like"
    <% if user_signed_in? %>
      data-like-id-value="<%= current_user.id %>"
    <% end %>>
    <div class="like-icon">
      <%= render partial: "shared/like_icon", locals: { meme: meme } %>
    </div>
    <div class="open-icon">
      <%= link_to meme_path(meme) do %>
        <i class="fa-solid fa-ellipsis" style="color: #000000; vertical-align: bottom;"></i>
      <% end %>
    </div>
  </div>
</div>
