<div class="card2">
  <div class="d-flex flex-column">
    <div class="card-content">
      <% if meme.video_url.present? %>
        <video width="360" controls>
          <source src="<%= meme.video_url %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      <% elsif meme.file.attached? %>
        <%= image_tag url_for(meme.file), alt: meme.title, width: 360 %>
      <% end %>
    </div>
   <%= render "shared/button_like", meme: @meme %>
  </div>
</div>


<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">Partager sur les réseaux</h5>
      </div>
      <div class="modal-body">
      <div class="icone-media">
       <%= social_share_button_tag(meme.title, url: meme_url(meme)) %>
        <%= image_tag 'messenger.svg' %>
        <%= image_tag 'instagram.svg' %>
      </div>
        <div class="d-flex align-items-center pt-4" data-controller="copyurl" data-action="click->copyurl#copyurl">
          <button type="button" class="btn btn-link" id="popover-link" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Copié !" data-bs-trigger="click">
            <%= image_tag 'link.svg' %>
          </button>
          <input type="text" class="form-control ms-2" id="page-url" value="<%= meme_url(meme) %>" data-copyurl-target="input" readonly>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
