<div class="navbar-footer">

    <div class="navbar-home">
        <%= link_to root_path do %>
          <%= image_tag("home_icon.svg", class:"home-icon")  %>
        <% end %>
    </div>

    <div class="navbar-add">
        <%= link_to new_meme_path do %>
          <%= image_tag("add_icon.svg", class:"add-icon")  %>
        <% end %>
    </div>

    <div class="navbar-library">
        <%= link_to favorites_path do %>
          <%= image_tag("library_icon.svg", class:"library-icon")  %>
        <% end %>
    </div>

    <div>
    <%= link_to root_path do %>
          <%= image_tag("profile.png", class:"profile-icon")  %>
        <% end %>
    </div>

</div>
