<nav class="navbar sticky-top">
  <!-- Logo -->
  <div class="navbar-brand align-items-center m-0 mb-1">
    <%= link_to root_path do %>
      <%= image_tag("logo.svg", class: "logo", alt: "Logo") %>
    <% end %>
  </div>

  <!-- Recherche -->
  <% if current_page?(favorites_path) %>
    <%= form_tag favorites_path, method: :get, class: "search-form" do %>
      <div class="search-form-control input-group">
        <i class="fas fa-search search-icon"></i>
        <%= text_field_tag :search, params[:search], placeholder: 'Rechercher un mème dans les favoris', class: 'form-control', autofocus: true %>
      </div>
    <% end %>
  <% else %>
    <%= form_tag root_path, method: :get, class: "search-form" do %>
      <div class="search-form-control input-group">
        <i class="fas fa-search search-icon"></i>
        <%= text_field_tag :search, params[:search], placeholder: 'Rechercher un mème', class: 'form-control', autofocus: true %>
      </div>
    <% end %>
  <% end %>
</nav>
